{% extends 'base.html' %}

{% block content %}
    {% if filterset %}
    <form action="" method="get">
        {{ filterset.form }}
        <input type="submit" value="Find">
    </form>
        {% if filterset.qs %}
            {%for post in filterset.qs %}
                <hr>
                <h3>{{ post.text|safe }}
            {% endfor %}
            <button onclick=location.href="/board/response/{{post.id}}/delete/">Delete</button>
            {%if post.accepted == False%}
                <button onclick=location.href="/board/response/{{post.id}}/accept/">Accept</button>
            {% else %}
                <button disabled onclick=location.href="/board/response/{{post.id}}/accept/">Accepted</button>
            {% endif %}
        {% endif %}    
        <hr>
    {% else %}
    No responses.
    {% endif %}
{% endblock content %}