{% extends 'base.html' %}

{% block content %}
    {% if filterset %}
    <form action="" method="get">
        {{ filterset.form }}
        <input type="submit" value="Find">
    </form>
        {% if filterset.qs %}
            <hr>
            {%for post in filterset.qs %}
                <h3>{{ post.text|safe }}
            <button onclick=location.href="/board/response/{{post.id}}/delete/">Delete</button>
                {%if post.accepted == False%}
                    <button onclick=location.href="/board/response/{{post.id}}/accept/">Accept</button>
                {% else %}
                    <button disabled onclick=location.href="/board/response/{{post.id}}/accept/">Accepted</button>
                {% endif %}
            {% endfor %}
        {% endif %}    
        <hr>
    {% else %}
    No responses.
    {% endif %}
{% endblock content %}